<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Twitter</title>

    <th:block th:replace="base :: head"></th:block>
</head>
	<body>
		<th:block th:replace="base :: nav"></th:block>
		
		<div class="container">
			<div class="row">
			
			
			<div class=" col-md-6">
			<br/>
			<br/>
			<div th:if="${message!=null}" >
				<h3 th:text="${message}"></h3>
			</div>
			<br/>
			<br/>
		    <br/>
		    <br />
		    <br />
		    
				<ul>
					<div th:each="post : ${allPosts}">
						<div class="panel panel-default">
							 <div class="panel-body">
								
								<div class="content">
									<div><strong> <a th:text="${post.postedBy.firstName + ' ' + post.postedBy.lastName}"></a></strong></div>
										<small><span th:text="${post.postedBy.username}"></span></small>
									
									<p th:text="${post.content}"/>
									<p th:text="${post.postedDate}"/>
								</div>
							</div>
						</div>
					</div>
					
					<div th:if="${photos!=null}">
						<th:block th:each="photo : ${photos}">
							<div class="panel panel-default">
							 	<div class="panel-body">
								
									<div> <strong><a th:text="${photo.user.firstName + ' ' + photo.user.lastName}"></a></strong></div>
									<br/>
									<div th:utext="${photo.image}"></div>
									<br/>
										
								</div>
						</th:block>
					</div>
				</ul>
					
				
			</div>
		</div>
		</div>
		<th:block th:replace="base :: footlinks"></th:block>
	</body>
</html>