<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<div class ="col-sm-4 col-md-8">
				<ul>
					<div th:each="post : ${allPosts}">
						<div class="content">
						<p><a href="#" th:text="${post.postedBy.firstName + ' ' + post.postedBy.lastName}"/>
							<small><span th:text="${post.postedBy.username}"></span></small>
						</p>
						<p th:text="${post.content}"/>
						<p th:text="${post.postedDate}"/>
						</div>
					</div>
				
				</ul>
			</div>
	</div>
</body>
</html>