<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Twitter</title>

    <th:block th:replace="base :: head"></th:block>
</head>
	<body>
		<th:block th:replace="base :: nav"></th:block>
		
		<div class="container">
			<div th:replace="base :: sidebar"></div>
			<br/>
			<br/>
			<div th:if="${message!=null}" >
				<h3 th:text="${message}"></h3>
			</div>
			<br/>
			<br/>
			<div class="col-sm-4 col-md-6">
		       <form th:action="@{/savepost}"  method="post">
					
					<div class="form-group">
						<textarea class="form-control" rows="3" placeholder= "new post" name="content"></textarea>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>

				</form>
		
		    </div>
		    
		    <br />
		    <br />
		    <div class ="col-sm-4 col-md-8">
				<ul>
					<div th:each="post : ${allPosts}">
						<div class="content">
						<p><a th:href="@{/post/{id}(id = ${post.postedBy.id})}" th:text="${post.postedBy.firstName + ' ' + post.postedBy.lastName}"/>
							<small><span th:text="${post.postedBy.username}"></span></small>
						</p>
						<p th:text="${post.content}"/>
						<p th:text="${post.postedDate}"/>
						</div>
					</div>
				
				</ul>
			</div>
		</div>
		
		
	</body>
</html>