<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Twitter</title>

    <th:block th:replace="base :: head"></th:block>
</head>
	<body>
		<th:block th:replace="base :: nav"></th:block>
		<br/>
		<br/>
		<div class="container">
			<div class= "row">
			<br/>
			<br/>
			<div class ="col-md-3">
				<div>
				
					<div th:utext="${user.profilePicture.image}"></div>
					<form th:action="@{/uploadProfile}" >
						<button type="submit" class="btn btn-default">Update picture</button>
					</form>
					
					<h2 th:text="${user.firstName + ' ' + user.lastName}"></h2>
					<h4 th:if="${user.username!=null}"><span th:text=" '@' + ${user.username}"></span></h4>
					<ul >
						<div class="btn-group" role="group">
							<div><a class="btn btn-default btn-sm" href="/follower">Followers(<span th:text="${#lists.size(follower)}"></span>)</a></div>
							<div><a class="btn btn-default btn-sm" href="/following">Following(<span th:text="${#lists.size(following)}"></span>)</a></div>
						</div>
					</ul>
					
				</div>
			</div>	
				<br/>
				<br/>
				<div class="col-md-8">
					<ul>
						<div th:each="post : ${allPosts}">
							
							<div class="panel panel-default">
						 		 <div class="panel-body">
						 		 
							<p><strong><a href="#" th:text="${post.postedBy.firstName + ' ' + post.postedBy.lastName}"/></strong>	
									<small><span th:text="${'@' + post.postedBy.username}"></span></small>
								</p>
								<p th:text="${post.content}"/>
								<p th:text="${post.postedDate}"></p>
								
								<a th:href="@{/likedby/post/{postId}(postId=${post.postId})}" th:utext="${#lists.size(post.likes)} + ' likes'"></a> 
								<br/>
								<div class= "col-md-0.5">
									<div th:if="${postdetail!=null}">
										<ul th:each="like : ${postdetail.likes}">
											<p>
												<span th:text="${like.user.firstName + ' ' + like.user.lastName}"></span>,
											</p>
										</ul>
									</div>
								</div>
								<div class= "col-md-1">
									<form th:action="@{/like/post/{postId}(postId=${post.postId})}" method= "post">
										<button type="submit" class="btn btn-primary btn-xs">Like</button>
									</form>
								</div>
							</div>
						</div>
						</div>
						
				
					<th:block th:each="photo : ${photos}">
						
						<div class="panel panel-default">
						  	<div class="panel-body">
						 		 
								<a th:href="@{/photo/{id}(id = ${photo.user.id})}" th:text="${photo.user.firstName + ' ' + photo.user.lastName}"></a>
								<div th:utext="${photo.image}"></div>
								
								<a th:href="@{/likedby/photo/{photoId}(photoId=${photo.photoId})}" th:text="${#lists.size(photo.likes) + ' likes'}"></a>
								
								<div class= "col-md-0.5">
									<div th:if="${photodetail!=null}">
											<ul th:each="like : ${photodetail.likes}">
												<p>
													<span th:text="${like.user.firstName + ' ' + like.user.lastName}"></span>,
												</p>
											</ul>
									</div>
								</div>
								<div class= "col-md-1">
									<form th:action="@{/like/photo/{photoId}(photoId=${photo.photoId})}" method= "post">
										 <button type="submit" class="btn btn-primary btn-xs">Like</button>
									</form>
								</div>
								<div class= "col-md-2">
									<form th:action="@{/delete/{photoId}(photoId=${photo.photoId})}" method= "post">
										<button type="submit" class="btn btn-primary btn-xs">Delete</button>
									</form>
								</div>
							</div>
						  </div>
						</th:block>
					</ul>
				</div>
			</div>
	</div>
	<th:block th:replace="base :: footlinks"></th:block>
</body>
</html>